span {
    color: rgba(0, 255, 234, 1);
    line-height: 10px;
}

h2 {
    line-height: 20px;
}

p {
    color: white;
    line-height: 10px;
}

.cartão {
    width: 270px;
    height: 180px;
    background-color: rgba(53, 53, 53, 1);
    padding: 30px;
    border-radius: 20px;
}

img-1 {
    width: 260px;
    height: 50px;
}